body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    height: 100vh;
}

header {
    background-color: aquamarine;
}

main {
    background-color: blanchedalmond;
    padding: 2rem 3rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4;
    grid-gap: 1rem;
}

div.square {
    border: black solid 1px;
}

footer {
    background-color: coral;
}