body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    height: 100vh;
}

header {
    background-color: aquamarine;
}

main {
   display: grid;
   grid-template-rows: repeat(4, 20rem);
   grid-template-columns: repeat(4, 1fr);
   margin: 4rem 6rem;
   grid-gap: 3rem;

   

}

div.square {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

footer {
    background-color: coral;
}